@model ApiBaseOrders.Models.OrderItem

@{
    var titleName = Model.Id > 0 ? "Редактирование" : "Добавление";
    var saveName = Model.Id > 0 ? "Сохранить" : "Добавить";
}

<div id="orderitem_form">
    <div class="modal-header">
        <h5 class="modal-title">@titleName</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" value="@Model.Name" id="order_item_name" class="form-control form-control-sm" />
            <div id="mesage_name_error" style="color: darkred;"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Quantity</label>
            <input type="text" value="@Model.Quantity" id="order_item_quantity" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">Unit</label>
            <input type="text" value="@Model.Unit" id="order_item_unit" class="form-control form-control-sm" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" onclick="modalClose()">Отмена</button>

        <button class="btn btn-sm btn-info btn-confirm"
                title="@saveName"
                data-orderId="@Model.OrderId"
                data-id="@Model.Id"
                data-tooltip="tooltip"
                onclick="checkOnChangeOrderItem(this)"
                @*onclick="saveAddorEditOrderItem(this)"*@>
            <span class="btn-text">@saveName</span>
        </button>
    </div>
</div>
