@model ApiBaseOrders.Models.ItemsForOrder


@*@Html.Hidden("id_order_item", Model.IdOrderItem)*@

<div id="orderitem_form">
    <div class="modal-header">
        <h5 class="modal-title">Ваш заказ</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="d-flex">
        Заказ
        <span> @Model.Id</span>
        <span> @Model.Ord?.Number</span>
        <span> @Model.Ord?.Date</span>
        <span> @Model.Ord?.ProviderId</span>
    </div>

    <table class="table" id="table_orders">
        <thead>
            <tr>
                <th style="width: 40px;"></th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
            </tr>
        </thead>
        @if (Model.OrderItems != null)
        {
            <tbody id="tbody_orders">
                @foreach (var item in Model.OrderItems)
                {
                    <tr class="row_order" data-id="@item.Id" onclick="">
                        <td>
                            <a data-id="@item.Id" onclick="FormDeleteItem(this)">
                                <i class='fa fa-trash text-danger mr-3 cursor-pointer' title='Удалить' data-tooltip='tooltip' aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                    </tr>
                }
            </tbody>
        }
        
    </table>

    @*<div class="modal-body">
        <div class="form-group">
            <label class="control-label">Namber</label>
            <input type="text" value="@Model.NameNumber" id="order_item_namber" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">Date</label>
            <input type="text" value="@Model.Date" id="order_item_date" class="form-control form-control-sm" />
        </div>
        @if (Model.Providers != null)
        {
            <div class="form-group">
                <label class="control-label">Provider</label>
                <select id="order_item_providerid" class="form-control form-control-sm input-sm">
                    @foreach (var item in Model.Providers)
                    {
                        <option value="@(item.Id)">@item.Name</option>
                    }
                </select>
            </div>
        }
        <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" value="@Model.Name" id="order_item_name" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">Quantity</label>
            <input type="text" value="@Model.Quantity" id="order_item_quantity" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label class="control-label">Unit</label>
            <input type="text" value="@Model.Unit" id="order_item_unit" class="form-control form-control-sm" />
        </div>
    </div>*@

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" onclick="modalClose()">Отмена</button>

        <button class="btn btn-sm btn-info btn-confirm"
                data-id="@Model.Id"
                onclick="saveAddorEditOrder(this)">
            <span class="btn-text">Сохранить</span>
        </button>
    </div>
</div>
