@model ApiBaseOrders.Models.Orders

@{
    var titleName = Model.Id > 0 ? "Редактирование" : "Добавление";
    var saveName = Model.Id > 0 ? "Сохранить" : "Добавить";
}

<div id="orderitem_form">
    <div class="modal-header">
        <h5 class="modal-title">@titleName</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Namber</label>
            <input type="text" value="@Model.NameNumber" id="order_item_namber" class="form-control form-control-sm" />
            <div id="mesage_namber_error" style="color: darkred;"></div>
        </div>
        <div class="form-group">
            <label class="control-label">Date</label>
            <input type="date" value="@Model.Date.ToString("yyyy-MM-dd")" id="order_item_date" class="form-control form-control-sm" />
        </div>
        @if (Model.Id > 0)
        {
            <div class="form-group">
                <label class="control-label">Provider</label>
                <input type="text" value="@Model.ProviderName" class="form-control form-control-sm" disabled />
                <input type="text" id="order_item_providerid" value="@Model.ProviderId" hidden />
            </div>
        }
        else if (Model.Providers != null)
        {
            <div class="form-group">
                <label class="control-label">Provider</label>
                <select id="order_item_providerid" class="form-control form-control-sm input-sm">
                    @foreach (var item in Model.Providers)
                    {
                        <option value="@(item.Id)">@item.Name</option>
                    }
                </select>
            </div>
        }
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" onclick="modalClose()">Отмена</button>

        <button class="btn btn-sm btn-info btn-confirm"
                title="@saveName"
                data-id="@Model.Id"
                data-tooltip="tooltip"
                onclick="checkOnChangeOrder(this)"
                @*onclick="saveAddorEditOrder(this)"*@>            
            <span class="btn-text">@saveName</span>
        </button>
    </div>
</div>
