@model ApiBaseOrders.Models.Order

<div id="structure_form">
    <div class="modal-header">
        <h5 class="modal-title">Подтверждение удаления.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label class="control-label"></label>
            <div>Удалить заказ ?</div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" onclick="modalClose()">Отмена</button>

        <button class="btn btn-sm btn-info btn-confirm"
                onclick="deleteOrder(@Model.Id)">
            <span class="btn-text">Удалить</span>
        </button>
    </div>
</div>
