@model IEnumerable<ApiBaseOrders.Models.Orders>


<table class="table" id="table_orders">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Date</th>
            <th>ProviderName</th>
        </tr>
    </thead>
    <tbody id="tbody_orders">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_Row", item)
        }
    </tbody>
</table>