﻿@model ApiBaseOrders.Models.Orders

<tr class="row_order" data-id="@Model.Id" onclick="showOrder(this)">
    <td>@Model.Id</td>
    <td>@Model.NameNumber</td>
    <td>@Model.Date.ToString("dd-MM-yyyy")</td>
    <td>@Model.ProviderName</td>
</tr>