@model ApiBaseOrders.Models.ItemsForOrder

<div class="head col-12">
    <a class="btn btn-sm btn-outline-info mt-3 mb-3 colorForLabel" href="javascript:window.close();location.href = pb + '/'">Вернуться</a>
</div>

<table class="table" id="table_orders">
    <thead>
        <tr>
            <th>Заказ №</th>
            <th>Number</th>
            <th>Date</th>
            <th>Provider</th>
        </tr>
    </thead>
    <tbody id="tbody_order">
        <tr data-id="@Model.Id">
            <td>@Model.Id</td>
            <td>@Model.Ord?.Number</td>
            <td>@Model.Ord?.Date.ToString("dd-MM-yyyy")</td>
            <td>@Model.ProviderName</td>
        </tr>
    </tbody>
</table>
<div class="order_menu">
    <button type="button" class="btn btn-sm btn-secondary" data-id="@Model.Id" onclick="showFormDeleteOrder(this)" style="margin-right: 15px;">Удалить заказ</button>
    <button class="btn btn-sm btn-info btn-confirm"
            data-id="@Model.Id"
            onclick="showFormAddorEditOrder(this)">
        <span class="btn-text">Редактировать</span>
    </button>
</div>

<table class="table" id="table_orders">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody id="tbody_orderitems">
        @if (Model.OrderItems != null)
        {
            @foreach (var item in Model.OrderItems)
            {
            <tr data-id="@item.Id">
                <td class="td_menu">
                    <a data-id="@item.Id" onclick="showFormOrderItem(this)" class="fa fa-pencil text-info td_pencil">
                    </a>
                    <a data-id="@item.Id" onclick="showFormDeleteOrderItem(this)">
                        <i class="fa fa-trash text-danger cursor-pointer"></i>
                    </a>
                </td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
            </tr>
            }
        }
        
    </tbody>
</table>

<div class="order_menu">
    <button class="btn btn-sm btn-info btn-confirm"
            data-orderId="@Model.Ord?.Id"
            onclick="showFormOrderItem(this)">
        <span class="btn-text">Добавить в заказ</span>
    </button>
</div>

