@model ApiBaseOrders.Models.OrdersSearchModel
@{
    var dete = DateTime.Now;
    var deteOne = dete.AddMonths(-1).ToString("yyyy-MM-dd");
    var deteTwo = dete.ToString("yyyy-MM-dd");
}

<div id="content_orders" style="margin-left: 20px">
    <div style="margin-bottom: 20px; margin-top: 20px border: 1px solid black;">
        <div>Фильтр</div>
        <hr>
        <form id="paramFind_form" class="form-horizontal" method="post" asp-controller="Home" asp-action="Index">

            <div class="row collapse show" id="filterCollapse">
                <div class="col-12 col-xl-6">
                    <div class="row">
                        <label asp-for="SlectedForFilterListNumber" class="col-3 control-label colorForLabel">Number</label>
                        <div class="col-8">
                            <select multiple asp-for="SlectedForFilterListNumber" class="form-control form-control-sm input-sm">
                                <option disabled selected>Выберите Number</option>
                                @foreach (var item in Model.SlectedForFilterListNumber)
                                {
                                    <option value="@(item)">@item</option>
                                }
                            </select>
                        </div>

                        <label asp-for="SlectedForFilterProviderIds" class="col-3 control-label colorForLabel">Provider</label>
                        <div class="col-8">
                            <select multiple asp-for="SlectedForFilterProviderIds" asp-items="@(new SelectList(Model.Providers,"Id","Name",Model.ProviderId))" class="form-control form-control-sm input-sm">
                                <option disabled selected>Выберите Provider</option>
                            </select>
                        </div>

                        <label asp-for="BeginDate" class="col-3 control-label colorForLabel">Диапазон дат</label>
                        <div class="col-4">
                            <div id="BeginDate" class="input-group input-group-sm">
                                <input asp-for="BeginDate" type="date" class="form-control" value=@deteOne>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="EndDate" class="input-group input-group-sm">
                                <input asp-for="EndDate" type="date" class="form-control" value=@deteTwo>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 15px;">
                <input id="btnFind" type="submit" class="btn btn-sm btn-success" value="Применить">
                <input id="btnClear" type="button" class="btn btn-sm btn-secondary" value="Очистить условия">
            </div>
        </form>
    </div>

    <hr>

    <div>Заказы</div>
    <button type="button" class="btn btn-info btn-sm m-2" data-id="-1" onclick="showFormAddorEditOrder(this)">
        <i class="fa fa-plus mr-1"></i>
        Добавить заказ
    </button>


    @*<div id="panelResFind" class="panel">
    @if (Model.CountItems == null)
    {
    <label class="">Для поиска нажмите кнопку "Применить"</label>
    }
    else if (Model.CountItems == 0)
    {
    <label class="">По заданному условию ничего не найдено!</label>
    }
    else
    {
    if (ViewBag.bLastEvents == true)
    {
    <label class="">Последние @Model.CountItems записей:</label>
    }
    else
    {
    <label class="">Найдено @Model.CountItems записей:</label>
    }
    @await Html.PartialAsync("_ListOrder", Model.ListOrder)
    }
    </div>*@

    @await Html.PartialAsync("_ListOrder", Model.ListOrder)

</div>

@section Scripts{
    <script type="text/javascript">
        $('#paramFind_form').submit(function () {
            document.getElementById("btnFind").setAttribute('disabled', 'disabled');
            var prg = document.createElement("progress");
            prg.className = "col-12";
            var pnl = document.getElementById("panelResFind");
            pnl.innerHTML = "";
            pnl.appendChild(prg);
        });
        $('#btnClear').on('click', function () {
            location.href = pb + '/';
        });
    </script>
}

