html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row_order:hover {
    cursor: pointer;
    background-color: #cfcfcf;
}

.td_menu {
    display: flex;
    align-items: baseline;
}

.td_pencil {
    cursor: pointer;
    margin-right: 15px;
}

.order_menu {
    display: flex;
    justify-content: right;
}

#table_orders {
    margin-top: 20px;
}